.vscode
node_modules
node-dependencies/3-exercise-package-json/.idea/3-exercise-package-json.iml
node-dependencies/3-exercise-package-json/.idea/misc.xml
node-dependencies/3-exercise-package-json/.idea/modules.xml
node-dependencies/3-exercise-package-json/.idea/vcs.xml
node-dependencies/3-exercise-package-json/.idea/workspace.xml
